################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


example/
data/


.ipynb_checkpoints/